.lacuna {
    display: inline-block;
    font-size: 2em;
    border: solid 2px;
    padding: 2%;
    margin: 1%;
}
.invisivel{
    display:none;
}
#chutes{
    color:red;
    font-size:20px;
}
.fundo{
    background-image:linear-gradient(to left, #23238E 20%, #3232CD , #3299CC 60%);
    border-bottom: 5px solid black;
}
h2{
  color:white;
  font-size: 2.5em;
  text-shadow: 2px 2px black;
}
.rodape-pagina {
    font-size:1.4em;
    color: #F2FFFC;
    padding: 1em;
    clear: both;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background-repeat: no-repeat;
    text-shadow: 1.5px 1.5px black;
    background-image: radial-gradient(ellipse at left bottom,
        #3299CC,
        #3232CD 65%,
        black 65%,
        black 70%,
        transparent 70%);
    background-size: 40% 100%;
}
.entrada{
  border:none;
  border-bottom: 1px solid #3232CD;
}
.dica{
    border-radius: 1em;
    font-size:1.5em;
    margin:0 auto;
    margin-top: -10em;
    text-align: center;
    background-image:linear-gradient(to left, #23238E 30%, #3232CD , #3299CC 90%);
    box-sizing: border-box;
    padding-top: 3em;
    color:#fff;
    width:18em;
    height: 8em;
    box-shadow: 0 0 0 99999px rgba(0,0,0,.8);
    transform: scale(1.2)
}
